<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-primary font-weight-bold" routerLink="/">Vetmedquiz</a>

    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span>Quizz</span>
        </a>
        <a class="nav-item nav-link" routerLink="/entity" routerLinkActive="active">
          <span>Edition</span>
        </a>
      </div>

    </div>
  </nav>
</header>
