<p-panel>
  <p-header>
    Contact
  </p-header>
  Vous désirez rapporter un bug, me notifier d'une erreur, proposer de nouvelles questions ou simplement en m'en poser une? <br/>
  Vous pouvez me contacter via les deux moyens suivants:<br/>
  Mail: <a href="mailto:vetmedquiz@gmail.com">vetmedquiz@gmail.com</a><br/>
  Twitter: <a href="https://twitter.com/Sivery">@Sivery</a>
  <br/><br/>
  Ce site vous a été utile? <br/>
  Vous pouvez laisser un pourboire à son créateur ici:<br/>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=V49ARJQ9LEZBW&source=url" target="_blank" rel="noopener noreferrer">
    <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/BE/i/btn/btn_donate_LG.gif"  alt="Bouton Faites un don avec PayPal" />
  </a>
</p-panel>
