html, body {
  height: 100%;
}

.ui-multiselected-item-token,
.ui-multiselected-empty-token {
  padding: 2px 4px;
  margin: 0 0.286em 0 0;
  display: inline-block;
  vertical-align:middle;
  height: 1.857em;
}

.ui-multiselected-item-token {
  background: #007ad9;
  color: #ffffff;
}

.form-container {
  padding: 20px;
}

.question-title{
  font-size:16px;
  display:inline-block;
  margin-top:2px;
}

.answer span {
  padding-left: 10px;
}

.navigation {
  padding-top: 5px;
}

.question-title > i {
  padding-right: 10px;
}

.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}

.frac > span {
  display: block;
  padding: 0.1em;
}

.frac span.bottom {
  border-top: thin solid black;
}

.frac span.symbol {
  display: none;
}

var.vector {
 font-style : normal;
}

var.vector span {
  margin-left: -.55em;   /* shift the arrow back over the letter */
  vertical-align : .2em; /* tune the arrow vertical position */
  padding-right: 9px;
}

var.vector.single span {
  margin-left: -0.3em;
  vertical-align : .2em; /* tune the arrow vertical position */
  padding-right: 9px;
}
